<form [formGroup]="appointmentForm" (ngSubmit)="onAppointmentSubmit()">
    <div class="form-group">
       <input type="text" 
              class="form-control" 
              placeholder="Name"
              formControlName="name"
              [ngClass]="{'has-error': appointmentForm.get('name').errors && appointmentForm.get('name').touched}">
        <span class="help-block" *ngIf="appointmentForm.get('name').hasError('required') && appointmentForm.get('name').touched">
            Please enter your name.
        </span>
    </div>
    <div class="form-group">
        <input type="text" 
               class="form-control" 
               placeholder="Organization"
               formControlName="organization"
               [ngClass]="{'has-error': appointmentForm.get('organization').errors && appointmentForm.get('organization').touched}">
         <span class="help-block" *ngIf="appointmentForm.get('organization').hasError('required') && appointmentForm.get('organization').touched">
             Please enter your name.
         </span>
     </div>
     <div class="form-group">
        <input type="text" 
               class="form-control" 
               placeholder="email"
               formControlName="email"
               [ngClass]="{'has-error': appointmentForm.get('email').errors && appointmentForm.get('email').touched}">
         <span class="help-block" *ngIf="appointmentForm.get('email').hasError('required') && appointmentForm.get('email').touched">
             Please enter your email.
         </span>
         <span class="help-block" *ngIf="appointmentForm.get('email').hasError('email') && appointmentForm.get('email').touched">
            Please enter a valid email.
        </span>
     </div>
     <div class="form-group">
        <input type="text" 
               class="form-control" 
               placeholder="phone"
               formControlName="phone"
               [ngClass]="{'has-error': appointmentForm.get('phone').errors && appointmentForm.get('phone').touched}">
         <span class="help-block" *ngIf="appointmentForm.get('phone').hasError('required') && appointmentForm.get('phone').touched">
             Please enter your phone number.
         </span>
     </div>
     <div class="form-group">
         <label>
            <input
               class="form-control trigger" 
               placeholder="Appointment Time"
               formControlName="appointment"
               [owlDateTime]="dt1"
               [owlDateTimeTrigger]="dt1"
               [ngClass]="{'has-error': appointmentForm.get('appointment').errors && appointmentForm.get('appointment').touched}">
               <owl-date-time #dt1></owl-date-time>
         <span class="help-block" *ngIf="appointmentForm.get('appointment').hasError('required') && appointmentForm.get('appointment').touched">
             Please enter a good time to call..
         </span>
         </label>
     </div>
     <button type="submit" class="btn btn-success" [disabled]="!appointmentForm.valid" >Submit</button>
</form>